Repository harrytran998/crossfire: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, oxfmt --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "oxlint --fix",
    "oxfmt --write"
  ],
  "*.{json,md,yml,yaml}": [
    "oxfmt --write"
  ]
}

perf(api): reduce repository select columns
  apps/server/src/modules/player/infrastructure/repositories/player.repository.impl.ts
  apps/server/src/modules/static-data/infrastructure/repositories/static-data.repository.impl.ts
Due: oxlint --fix, oxfmt --write

fix(redis): correct layer wiring and options
  apps/server/src/services/redis.service.ts
Due: oxlint --fix, oxfmt --write

test(api): harden e2e and curl checks
  apps/server/tests/curl/phase1-auth-core.sh
  apps/server/tests/e2e/auth.e2e.test.ts
  apps/server/tests/e2e/player-static.e2e.test.ts
Due: oxlint --fix, oxfmt --write

refactor(api): add radix router primitives
  apps/server/src/http/radix-router.ts
  apps/server/src/http/request.ts
  apps/server/src/http/security.ts
Due: oxlint --fix, oxfmt --write

refactor(auth): register auth route definitions
  apps/server/src/modules/auth/index.ts
  apps/server/src/modules/auth/presentation/http/auth-security.ts
  apps/server/src/modules/auth/presentation/http/bun-auth.handlers.ts
Due: oxlint --fix, oxfmt --write

refactor(player): register player route definitions
  apps/server/src/modules/player/index.ts
  apps/server/src/modules/player/presentation/http/bun-player.handlers.ts
Due: oxlint --fix, oxfmt --write

refactor(static): use dynamic route params
  apps/server/src/modules/static-data/index.ts
  apps/server/src/modules/static-data/presentation/http/bun-static-data.handlers.ts
Due: oxlint --fix, oxfmt --write

refactor(api): wire server dispatch to radix
  apps/server/src/index.ts
Due: oxlint --fix, oxfmt --write

fix(server): update code e2e
  apps/server/tests/e2e/auth.e2e.test.ts
  apps/server/tests/e2e/player-static.e2e.test.ts
Due: oxlint --fix, oxfmt --write

refactor(api): add shared http status constants
  apps/server/src/http/request.ts
  apps/server/src/http/response.ts
  apps/server/src/http/security.ts
  apps/server/src/http/status.ts
Due: oxlint --fix, oxfmt --write

refactor(api): tighten auth and player schemas
  apps/server/src/modules/auth/domain/errors/auth.errors.ts
  apps/server/src/modules/player/domain/errors/player.errors.ts
Due: oxlint --fix, oxfmt --write

refactor(api): use effect schema in handlers
  apps/server/src/modules/auth/presentation/http/bun-auth.handlers.ts
  apps/server/src/modules/player/presentation/http/bun-player.handlers.ts
  apps/server/src/modules/static-data/presentation/http/bun-static-data.handlers.ts
Due: oxlint --fix, oxfmt --write

refactor(api): replace route status literals
  apps/server/src/index.ts
  apps/server/src/modules/auth/presentation/http/auth.routes.ts
Due: oxlint --fix, oxfmt --write

feat(database): add phase0 gate migrations and timescale bootstrap
  docker-compose.yml
  docker/postgres/init/01-extensions.sql
  docker/postgres/init/02-timescaledb.sql
  docker/postgres/init/03-uuidv7-check.sql
  packages/database/migrations/000013_phase0_gate_fixes.down.sql
  packages/database/migrations/000013_phase0_gate_fixes.up.sql
  packages/database/src/types.ts
Due: oxlint --fix, oxfmt --write

feat(server): wire outbox publishing and dispatcher processing
  apps/server/src/index.ts
  apps/server/src/modules/auth/application/services/auth.service.ts
  apps/server/src/services/index.ts
  apps/server/src/services/outbox-dispatcher.service.ts
  apps/server/src/services/outbox.service.ts
Due: oxlint --fix, oxfmt --write

docs(plan): sync todo progress with phase0 gate completion
  TODO.md
Due: oxfmt --write

chore(format): apply oxfmt to outbox services
  apps/server/src/services/outbox-dispatcher.service.ts
  apps/server/src/services/outbox.service.ts
Due: oxlint --fix, oxfmt --write

ci(test): run migrations on timescaledb postgres image
  .github/workflows/ci.yml
Due: oxfmt --write

feat(db): hash refresh tokens in sessions
  packages/database/migrations/000014_harden_auth_sessions.down.sql
  packages/database/migrations/000014_harden_auth_sessions.up.sql
  packages/database/src/types.ts
Due: oxlint --fix, oxfmt --write

feat(auth): hash refresh token storage flow
  apps/server/src/modules/auth/domain/entities/user.entity.ts
  apps/server/src/modules/auth/infrastructure/adapters/crypto.service.ts
  apps/server/src/modules/auth/infrastructure/repositories/auth.repository.impl.ts
Due: oxlint --fix, oxfmt --write

feat(auth): bind session context on validation
  apps/server/src/modules/auth/application/services/auth.service.ts
  apps/server/src/modules/auth/presentation/http/auth.routes.ts
Due: oxlint --fix, oxfmt --write

feat(auth): move login throttle state to redis
  apps/server/src/index.ts
  apps/server/src/modules/auth/application/services/auth-throttle.service.ts
  apps/server/src/modules/auth/application/services/index.ts
  apps/server/src/modules/auth/index.ts
  apps/server/src/modules/auth/presentation/http/auth-security.ts
  apps/server/src/modules/auth/presentation/http/bun-auth.handlers.ts
Due: oxlint --fix, oxfmt --write

feat(http): enforce csrf for cookie requests
  apps/server/src/http/security.ts
Due: oxlint --fix, oxfmt --write

feat(config): reject weak prod secret values
  .env.example
  docker-compose.yml
  packages/shared/src/config/auth.config.ts
  packages/shared/src/config/database.config.ts
Due: oxlint --fix, oxfmt --write

ci(workflow): scope github token to read only
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: oxfmt --write

docs(security): add bearer csrf posture notes
  docs/11-security-posture.md
Due: oxfmt --write

fix(auth): use argon2 and jose in crypto service
  apps/server/package.json
  apps/server/src/modules/auth/infrastructure/adapters/crypto.service.ts
  bun.lock
Due: oxlint --fix, oxfmt --write

docs(security): replace bcrypt references with argon2
  docs/04-system-architecture.md
  docs/08-development-roadmap.md
Due: oxfmt --write

docs(agents): require jose for jose modules
  .agents/CLAUDE.md
Due: oxfmt --write

fix(ci): sync bun lockfile with package deps
  bun.lock
Due: none

test(server): add phase 2 api coverage
  apps/server/tests/e2e/phase2-core.e2e.test.ts
  apps/server/tests/unit/friends.service.test.ts
  apps/server/tests/unit/inventory-loadout.service.test.ts
  apps/server/tests/unit/match-leaderboard.service.test.ts
  apps/server/tests/unit/phase2-core.service.test.ts
Due: oxlint --fix, oxfmt --write

docs(roadmap): mark phase 2 tasks complete
  TODO.md
Due: oxfmt --write

fix(api): harden phase2 security and queries
  apps/server/src/http/request.ts
  apps/server/src/http/response.ts
  apps/server/src/modules/auth/application/services/auth-throttle.service.ts
  apps/server/src/modules/friends/application/services/friends.service.ts
  apps/server/src/modules/friends/domain/errors/friends.errors.ts
  apps/server/src/modules/friends/domain/repositories/friends.repository.ts
  apps/server/src/modules/friends/infrastructure/repositories/friends.repository.impl.ts
  apps/server/src/modules/friends/presentation/http/bun-friends.handlers.ts
  apps/server/src/modules/inventory/application/services/inventory.service.ts
  apps/server/src/modules/inventory/domain/errors/inventory.errors.ts
  apps/server/src/modules/inventory/infrastructure/repositories/inventory.repository.impl.ts
  apps/server/src/modules/inventory/presentation/http/bun-inventory.handlers.ts
  apps/server/src/modules/leaderboard/domain/errors/leaderboard.errors.ts
  apps/server/src/modules/leaderboard/infrastructure/repositories/leaderboard.repository.impl.ts
  apps/server/src/modules/leaderboard/presentation/http/bun-leaderboard.handlers.ts
  apps/server/src/modules/loadout/application/services/loadout.service.ts
  apps/server/src/modules/loadout/domain/errors/loadout.errors.ts
  apps/server/src/modules/loadout/infrastructure/repositories/loadout.repository.impl.ts
  apps/server/src/modules/loadout/presentation/http/bun-loadout.handlers.ts
  apps/server/src/modules/match/domain/errors/match.errors.ts
  apps/server/src/modules/match/infrastructure/repositories/match.repository.impl.ts
Due: oxlint --fix, oxfmt --write

test(server): align phase2 tests for ci
  apps/server/tests/e2e/phase2-core.e2e.test.ts
  apps/server/tests/unit/inventory-loadout.service.test.ts
  apps/server/tests/unit/match-leaderboard.service.test.ts
  apps/server/tests/unit/phase2-core.service.test.ts
Due: oxlint --fix, oxfmt --write

feat(realtime): add WebSocket foundation with MessagePack protocol
  apps/server/src/index.ts
  apps/server/src/layers/index.ts
  apps/server/src/realtime/connection-registry.service.ts
  apps/server/src/realtime/heartbeat.service.ts
  apps/server/src/realtime/index.ts
  apps/server/src/realtime/protocol/index.ts
  apps/server/src/realtime/protocol/message-codec.ts
  apps/server/src/realtime/protocol/message-envelope.ts
  apps/server/src/realtime/protocol/message-router.ts
  apps/server/src/realtime/protocol/message-schemas.ts
  apps/server/src/realtime/ws-auth.ts
  apps/server/src/realtime/ws-context.ts
  apps/server/tests/unit/realtime/message-protocol.test.ts
  packages/shared/src/config/index.ts
  packages/shared/src/config/websocket.config.ts
Due: oxlint --fix, oxfmt --write

feat(room): implement room service with Redis state and WS handlers
  apps/server/src/modules/room/application/index.ts
  apps/server/src/modules/room/application/services/room.service.ts
  apps/server/src/modules/room/domain/entities/room.entity.ts
  apps/server/src/modules/room/domain/errors/room.errors.ts
  apps/server/src/modules/room/domain/index.ts
  apps/server/src/modules/room/domain/repositories/room.repository.ts
  apps/server/src/modules/room/index.ts
  apps/server/src/modules/room/infrastructure/index.ts
  apps/server/src/modules/room/infrastructure/repositories/room.repository.impl.ts
  apps/server/src/modules/room/presentation/index.ts
  apps/server/src/modules/room/presentation/websocket/bun-room.handlers.ts
  apps/server/src/modules/room/presentation/websocket/index.ts
Due: oxlint --fix, oxfmt --write

feat(matchmaking): add matchmaking service with queue and REST API
  apps/server/src/modules/matchmaking/application/index.ts
  apps/server/src/modules/matchmaking/application/services/matchmaking.service.ts
  apps/server/src/modules/matchmaking/domain/entities/matchmaking.entity.ts
  apps/server/src/modules/matchmaking/domain/errors/matchmaking.errors.ts
  apps/server/src/modules/matchmaking/domain/index.ts
  apps/server/src/modules/matchmaking/domain/repositories/matchmaking.repository.ts
  apps/server/src/modules/matchmaking/index.ts
  apps/server/src/modules/matchmaking/infrastructure/index.ts
  apps/server/src/modules/matchmaking/infrastructure/repositories/matchmaking.repository.impl.ts
  apps/server/src/modules/matchmaking/presentation/http/index.ts
  apps/server/src/modules/matchmaking/presentation/http/matchmaking.handlers.ts
  apps/server/src/modules/matchmaking/presentation/index.ts
Due: oxlint --fix, oxfmt --write

docs(todo): update Phase 3 completion status and implementation notes
  TODO.md
Due: oxfmt --write

chore(server): update test script for typecheck
  apps/server/package.json
Due: oxfmt --write
