Repository harrytran998/crossfire: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, oxfmt --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "oxlint --fix",
    "oxfmt --write"
  ],
  "*.{json,md,yml,yaml}": [
    "oxfmt --write"
  ]
}

feat(db): add kysely migrations and database scripts
  packages/database/migrations/000001_create_auth.down.sql
  packages/database/migrations/000001_create_auth.up.sql
  packages/database/migrations/000002_create_players.down.sql
  packages/database/migrations/000002_create_players.up.sql
  packages/database/migrations/000003_create_progression.down.sql
  packages/database/migrations/000003_create_progression.up.sql
  packages/database/migrations/000004_create_weapons.down.sql
  packages/database/migrations/000004_create_weapons.up.sql
  packages/database/migrations/000005_create_maps.down.sql
  packages/database/migrations/000005_create_maps.up.sql
  packages/database/migrations/000006_create_inventory.down.sql
  packages/database/migrations/000006_create_inventory.up.sql
  packages/database/migrations/000007_create_rooms.down.sql
  packages/database/migrations/000007_create_rooms.up.sql
  packages/database/migrations/000008_create_matches.down.sql
  packages/database/migrations/000008_create_matches.up.sql
  packages/database/migrations/000009_create_friends.down.sql
  packages/database/migrations/000009_create_friends.up.sql
  packages/database/migrations/000010_create_leaderboards.down.sql
  packages/database/migrations/000010_create_leaderboards.up.sql
  packages/database/migrations/000011_create_achievements.down.sql
  packages/database/migrations/000011_create_achievements.up.sql
  packages/database/migrations/000012_create_telemetry.down.sql
  packages/database/migrations/000012_create_telemetry.up.sql
  packages/database/package.json
  packages/database/scripts/create-migration.sh
  packages/database/scripts/migrate.sh
  packages/database/scripts/seed.ts
  packages/database/src/client.ts
  packages/database/src/index.ts
  packages/database/src/types.ts
  packages/database/tsconfig.json
Due: oxlint --fix, oxfmt --write

feat(monorepo): setup bun workspaces with root package config
  .env.example
  .gitignore
  bun.lock
  package.json
Due: oxfmt --write

feat(tsconfig): add shared typescript configurations
  packages/tsconfig/base.json
  packages/tsconfig/browser.json
  packages/tsconfig/node.json
  packages/tsconfig/package.json
  tsconfig.json
Due: oxfmt --write

feat(docker): add postgresql 18 and redis infrastructure
  docker-compose.dev.yml
  docker-compose.yml
  docker/postgres/init/01-extensions.sql
  docker/redis/redis.conf
Due: oxfmt --write

feat(ci): add github actions workflows
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: oxfmt --write

feat(shared): add types, utils, constants and effect config
  packages/shared/package.json
  packages/shared/src/config/auth.config.ts
  packages/shared/src/config/database.config.ts
  packages/shared/src/config/index.ts
  packages/shared/src/config/logging.config.ts
  packages/shared/src/config/redis.config.ts
  packages/shared/src/config/server.config.ts
  packages/shared/src/constants/index.ts
  packages/shared/src/index.ts
  packages/shared/src/types/index.ts
  packages/shared/src/utils/index.ts
  packages/shared/tsconfig.json
Due: oxlint --fix, oxfmt --write

feat(server): add effect platform server with bun runtime
  apps/server/package.json
  apps/server/src/errors/index.ts
  apps/server/src/index.ts
  apps/server/src/layers/index.ts
  apps/server/src/services/database.service.ts
  apps/server/src/services/index.ts
  apps/server/src/services/redis.service.ts
  apps/server/tsconfig.json
Due: oxlint --fix, oxfmt --write

feat(web): add react frontend package placeholder
  apps/web/package.json
  apps/web/tsconfig.json
Due: oxfmt --write

workflow: update bun config
  apps/server/package.json
  bun.lock
  bunfig.toml
Due: oxfmt --write

feat(server): update code review database + redis + server
  .claude/settings.json
  apps/server/src/index.ts
  apps/server/src/services/database.service.ts
  apps/server/src/services/redis.service.ts
  packages/shared/src/config/server.config.ts
  packages/tsconfig/base.json
Due: oxlint --fix, oxfmt --write

feat(build): use tsdown for package builds and oxlint.config.ts
  .github/workflows/pr.yml
  .moon/tasks/all.yml
  apps/server/moon.yml
  apps/server/tsdown.config.ts
  apps/web/tsdown.config.ts
  bun.lock
  oxlint.config.ts
  oxlint.json
  package.json
  packages/database/moon.yml
  packages/database/tsdown.config.ts
  packages/shared/moon.yml
  packages/shared/tsdown.config.ts
Due: oxlint --fix, oxfmt --write

fix(build): use bunx tsdown in moon tasks
  .moon/tasks/all.yml
  apps/server/moon.yml
  packages/database/moon.yml
  packages/shared/moon.yml
Due: oxfmt --write

workflow: add prototools
  .prototools
Due: none

fix(ci): convert oxlint config to JSON and fix package scripts
  .oxlintrc.json
  oxlint.config.ts
  package.json
Due: oxlint --fix, oxfmt --write

fix(ci): update build script and apply formatting
  .oxlintrc.json
  package.json
Due: oxfmt --write

feat(lint): add type-aware linting rules for oxlint
  .oxlintrc.json
Due: oxfmt --write

fix(lint): fix type-aware linting for tsgolint compatibility
  .oxlintrc.json
  apps/server/src/index.ts
  apps/server/src/services/database.service.ts
  apps/server/src/services/redis.service.ts
  apps/server/tsconfig.json
  bun.lock
  package.json
  packages/database/package.json
  packages/database/tsconfig.json
  packages/shared/package.json
  packages/shared/tsconfig.json
  packages/tsconfig/base.json
Due: oxlint --fix, oxfmt --write

refactor(scripts): use moon CLI for project tasks
  package.json
  tsconfig.json
Due: oxfmt --write

workflow: remove bunx, use directly tsdown + remove prisma
  .claude/rules/clean-architecture.md
  .claude/skills/bun/SKILL.md
  .moon/tasks/all.yml
  README.md
  apps/server/moon.yml
  packages/database/moon.yml
  packages/database/package.json
  packages/shared/moon.yml
  packages/shared/package.json
Due: oxfmt --write

docs: mark Phase 0 as complete (10/10 tasks)
  EXECUTION_PLAN.md
Due: oxfmt --write

feat(db): generate Kysely types from PostgreSQL schema
  packages/database/src/index.ts
  packages/database/src/types.ts
Due: oxlint --fix, oxfmt --write

feat(auth): add auth module with registration and session management
  apps/server/package.json
  apps/server/src/modules/auth/application/index.ts
  apps/server/src/modules/auth/application/services/auth.service.ts
  apps/server/src/modules/auth/application/services/index.ts
  apps/server/src/modules/auth/domain/entities/index.ts
  apps/server/src/modules/auth/domain/entities/user.entity.ts
  apps/server/src/modules/auth/domain/errors/auth.errors.ts
  apps/server/src/modules/auth/domain/errors/index.ts
  apps/server/src/modules/auth/domain/events/auth.events.ts
  apps/server/src/modules/auth/domain/events/index.ts
  apps/server/src/modules/auth/domain/index.ts
  apps/server/src/modules/auth/domain/repositories/auth.repository.ts
  apps/server/src/modules/auth/domain/repositories/index.ts
  apps/server/src/modules/auth/index.ts
  apps/server/src/modules/auth/infrastructure/adapters/crypto.service.ts
  apps/server/src/modules/auth/infrastructure/adapters/index.ts
  apps/server/src/modules/auth/infrastructure/index.ts
  apps/server/src/modules/auth/infrastructure/repositories/auth.repository.impl.ts
  apps/server/src/modules/auth/infrastructure/repositories/index.ts
  apps/server/src/modules/auth/presentation/http/auth.routes.ts
  apps/server/src/modules/auth/presentation/http/index.ts
  apps/server/src/modules/auth/presentation/index.ts
  bun.lock
Due: oxlint --fix, oxfmt --write

feat(player): add player domain entities and repository interface
  apps/server/src/modules/player/domain/entities/index.ts
  apps/server/src/modules/player/domain/entities/player.entity.ts
  apps/server/src/modules/player/domain/errors/index.ts
  apps/server/src/modules/player/domain/errors/player.errors.ts
  apps/server/src/modules/player/domain/index.ts
  apps/server/src/modules/player/domain/repositories/index.ts
  apps/server/src/modules/player/domain/repositories/player.repository.ts
Due: oxlint --fix, oxfmt --write

test(auth): add unit, e2e, and curl tests for auth API
  apps/server/tests/curl/auth.sh
  apps/server/tests/e2e/auth.e2e.test.ts
  apps/server/tests/unit/auth.service.test.ts
Due: oxlint --fix, oxfmt --write

fix(lint): disable no-unsafe-type-assertion for db entity mappers
  .oxlintrc.json
Due: oxfmt --write

fix(ci): add database migrations and auth env vars to test job
  .github/workflows/ci.yml
Due: oxfmt --write

fix(auth): fix type safety and HTTP handler patterns
  apps/server/src/modules/auth/application/services/auth.service.ts
  apps/server/src/modules/auth/domain/entities/user.entity.ts
  apps/server/src/modules/auth/domain/errors/auth.errors.ts
  apps/server/src/modules/auth/domain/repositories/auth.repository.ts
  apps/server/src/modules/auth/index.ts
  apps/server/src/modules/auth/infrastructure/repositories/auth.repository.impl.ts
  apps/server/src/modules/auth/presentation/http/auth.routes.ts
  apps/server/src/modules/player/domain/entities/player.entity.ts
  apps/server/src/modules/player/domain/repositories/player.repository.ts
Due: oxlint --fix, oxfmt --write

style: apply oxfmt formatting
  .moon/tasks/all.yml
  EXECUTION_PLAN.md
  apps/server/moon.yml
  apps/server/tests/e2e/auth.e2e.test.ts
  apps/server/tests/unit/auth.service.test.ts
  packages/database/moon.yml
  packages/database/src/index.ts
  packages/database/src/types.ts
  packages/shared/moon.yml
Due: oxlint --fix, oxfmt --write

fix(ci): use tsdown for package builds and run only unit tests
  .github/workflows/ci.yml
Due: oxfmt --write

workflow: add agents folder config
  .agents/README.md
Due: oxfmt --write

fix(server): update typing isseus + coding convention
  apps/server/src/layers/index.ts
  apps/server/src/modules/auth/application/services/auth.service.ts
  packages/shared/src/config/auth.config.ts
  packages/shared/src/config/database.config.ts
  packages/shared/src/config/logging.config.ts
  packages/shared/src/config/redis.config.ts
  packages/shared/src/config/server.config.ts
Due: oxlint --fix, oxfmt --write

fix(server): update failed unit test + action workflow
  .github/workflows/pr.yml
  apps/server/tests/unit/auth.service.test.ts
Due: oxlint --fix, oxfmt --write

feat(auth): add better auth config scaffold
  apps/server/src/modules/auth/infrastructure/adapters/better-auth.config.ts
  apps/server/src/modules/auth/infrastructure/adapters/index.ts
Due: oxlint --fix, oxfmt --write

feat(api): add player and static data endpoints
  apps/server/src/index.ts
  apps/server/src/modules/player/application/index.ts
  apps/server/src/modules/player/application/services/index.ts
  apps/server/src/modules/player/application/services/player.service.ts
  apps/server/src/modules/player/index.ts
  apps/server/src/modules/player/infrastructure/index.ts
  apps/server/src/modules/player/infrastructure/repositories/index.ts
  apps/server/src/modules/player/infrastructure/repositories/player.repository.impl.ts
  apps/server/src/modules/static-data/application/index.ts
  apps/server/src/modules/static-data/application/services/index.ts
  apps/server/src/modules/static-data/application/services/static-data.service.ts
  apps/server/src/modules/static-data/domain/entities/index.ts
  apps/server/src/modules/static-data/domain/entities/static-data.entity.ts
  apps/server/src/modules/static-data/domain/index.ts
  apps/server/src/modules/static-data/domain/repositories/index.ts
  apps/server/src/modules/static-data/domain/repositories/static-data.repository.ts
  apps/server/src/modules/static-data/index.ts
  apps/server/src/modules/static-data/infrastructure/index.ts
  apps/server/src/modules/static-data/infrastructure/repositories/index.ts
  apps/server/src/modules/static-data/infrastructure/repositories/static-data.repository.impl.ts
Due: oxlint --fix, oxfmt --write

test(api): add phase1 unit and e2e coverage
  apps/server/tests/e2e/auth.e2e.test.ts
  apps/server/tests/e2e/player-static.e2e.test.ts
  apps/server/tests/unit/player.service.test.ts
  apps/server/tests/unit/static-data.service.test.ts
Due: oxlint --fix, oxfmt --write

test(api): add phase1 curl smoke script
  apps/server/tests/curl/phase1-auth-core.sh
Due: none

docs(plan): mark phase1 backend complete
  EXECUTION_PLAN.md
Due: oxfmt --write

refactor(api): modularize bun route handlers
  apps/server/src/http/request.ts
  apps/server/src/http/response.ts
  apps/server/src/index.ts
  apps/server/src/modules/auth/index.ts
  apps/server/src/modules/auth/presentation/http/bun-auth.handlers.ts
  apps/server/src/modules/auth/presentation/http/index.ts
  apps/server/src/modules/player/index.ts
  apps/server/src/modules/player/presentation/http/bun-player.handlers.ts
  apps/server/src/modules/player/presentation/http/index.ts
  apps/server/src/modules/player/presentation/index.ts
  apps/server/src/modules/static-data/index.ts
  apps/server/src/modules/static-data/presentation/http/bun-static-data.handlers.ts
  apps/server/src/modules/static-data/presentation/http/index.ts
  apps/server/src/modules/static-data/presentation/index.ts
Due: oxlint --fix, oxfmt --write
