Repository harrytran998/crossfire: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, oxfmt --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "oxlint --fix",
    "oxfmt --write"
  ],
  "*.{json,md,yml,yaml}": [
    "oxfmt --write"
  ]
}

workflow: fix lint + format
  .claude/hooks/pre-tool-use.js
  TODO.md
  apps/server/src/index.ts
  apps/server/src/modules/matchmaking/application/index.ts
  apps/server/src/modules/matchmaking/application/services/matchmaking.service.ts
  apps/server/src/modules/matchmaking/domain/repositories/matchmaking.repository.ts
  apps/server/src/modules/matchmaking/infrastructure/index.ts
  apps/server/src/modules/matchmaking/infrastructure/repositories/matchmaking.repository.impl.ts
  apps/server/src/modules/matchmaking/presentation/http/matchmaking.handlers.ts
  apps/server/src/modules/room/application/services/room.service.ts
  apps/server/src/modules/room/domain/entities/room.entity.ts
  apps/server/src/modules/room/infrastructure/repositories/room.repository.impl.ts
  apps/server/src/modules/room/presentation/websocket/bun-room.handlers.ts
  apps/server/src/realtime/connection-registry.service.ts
  apps/server/src/realtime/protocol/message-codec.ts
  apps/server/src/realtime/protocol/message-envelope.ts
  apps/server/src/realtime/protocol/message-router.ts
  apps/server/src/realtime/protocol/message-schemas.ts
  apps/server/src/realtime/ws-auth.ts
  packages/database/scripts/seed.ts
  packages/shared/src/config/websocket.config.ts
Due: oxlint --fix, oxfmt --write

feat(achievement): implement achievement service with CRUD and progress tracking
  apps/server/src/modules/achievement/application/index.ts
  apps/server/src/modules/achievement/application/services/achievement.service.ts
  apps/server/src/modules/achievement/domain/entities/achievement.entity.ts
  apps/server/src/modules/achievement/domain/errors/achievement.errors.ts
  apps/server/src/modules/achievement/domain/index.ts
  apps/server/src/modules/achievement/domain/repositories/achievement.repository.ts
  apps/server/src/modules/achievement/index.ts
  apps/server/src/modules/achievement/infrastructure/index.ts
  apps/server/src/modules/achievement/infrastructure/repositories/achievement.repository.impl.ts
  apps/server/src/modules/achievement/presentation/http/achievement.handlers.ts
  apps/server/src/modules/achievement/presentation/http/index.ts
  apps/server/src/modules/achievement/presentation/index.ts
Due: oxlint --fix, oxfmt --write

feat(telemetry): implement telemetry service with TimescaleDB integration
  apps/server/src/modules/telemetry/application/index.ts
  apps/server/src/modules/telemetry/application/services/telemetry.service.ts
  apps/server/src/modules/telemetry/domain/entities/telemetry.entity.ts
  apps/server/src/modules/telemetry/domain/errors/telemetry.errors.ts
  apps/server/src/modules/telemetry/domain/index.ts
  apps/server/src/modules/telemetry/domain/repositories/telemetry.repository.ts
  apps/server/src/modules/telemetry/index.ts
  apps/server/src/modules/telemetry/infrastructure/index.ts
  apps/server/src/modules/telemetry/infrastructure/repositories/telemetry.repository.impl.ts
  apps/server/src/modules/telemetry/presentation/http/index.ts
  apps/server/src/modules/telemetry/presentation/http/telemetry.handlers.ts
  apps/server/src/modules/telemetry/presentation/index.ts
Due: oxlint --fix, oxfmt --write

feat(admin): implement admin REST API for telemetry data access
  apps/server/src/modules/admin/index.ts
  apps/server/src/modules/admin/presentation/http/admin.handlers.ts
  apps/server/src/modules/admin/presentation/http/index.ts
  apps/server/src/modules/admin/presentation/index.ts
Due: oxlint --fix, oxfmt --write

docs(todo): update Phase 4 completion status and implementation notes
  TODO.md
Due: oxfmt --write

security(auth): add user roles and ForbiddenError for RBAC
  apps/server/src/modules/auth/domain/entities/user.entity.ts
  apps/server/src/modules/auth/domain/errors/auth.errors.ts
  packages/database/migrations/000015_add_user_roles.down.sql
  packages/database/migrations/000015_add_user_roles.up.sql
Due: oxlint --fix, oxfmt --write

security(handlers): add authorization checks and date validation
  apps/server/src/modules/achievement/presentation/http/achievement.handlers.ts
  apps/server/src/modules/admin/presentation/http/admin.handlers.ts
  apps/server/src/modules/telemetry/presentation/http/telemetry.handlers.ts
Due: oxlint --fix, oxfmt --write

deps(web): add react-router-dom, axios, tailwind dependencies
  apps/web/package.json
Due: oxfmt --write

config(web): add Vite, Tailwind, and Moonrepo configuration
  apps/web/index.html
  apps/web/moon.yml
  apps/web/postcss.config.js
  apps/web/tailwind.config.js
  apps/web/vite.config.ts
Due: oxlint --fix, oxfmt --write

feat(web): implement Phase 5 frontend foundation
  apps/web/src/App.tsx
  apps/web/src/components/GameCanvas.tsx
  apps/web/src/components/Layout.tsx
  apps/web/src/hooks/useWebSocket.ts
  apps/web/src/index.css
  apps/web/src/main.tsx
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/LoginPage.tsx
  apps/web/src/pages/RegisterPage.tsx
  apps/web/src/stores/websocket.store.ts
Due: oxlint --fix, oxfmt --write

docs(todo): update Phase 5 completion status and implementation notes
  TODO.md
Due: oxfmt --write

ci: fix lint, format, and type errors for CI
  .oxlintignore
  TODO.md
  apps/server/src/modules/achievement/application/services/achievement.service.ts
  apps/server/src/modules/achievement/domain/errors/achievement.errors.ts
  apps/server/src/modules/achievement/domain/repositories/achievement.repository.ts
  apps/server/src/modules/achievement/infrastructure/index.ts
  apps/server/src/modules/achievement/infrastructure/repositories/achievement.repository.impl.ts
  apps/server/src/modules/achievement/presentation/http/achievement.handlers.ts
  apps/server/src/modules/admin/presentation/http/admin.handlers.ts
  apps/server/src/modules/auth/domain/errors/auth.errors.ts
  apps/server/src/modules/telemetry/application/services/telemetry.service.ts
  apps/server/src/modules/telemetry/domain/repositories/telemetry.repository.ts
  apps/server/src/modules/telemetry/infrastructure/index.ts
  apps/server/src/modules/telemetry/infrastructure/repositories/telemetry.repository.impl.ts
  apps/server/src/modules/telemetry/presentation/http/telemetry.handlers.ts
  apps/web/src/components/GameCanvas.tsx
  apps/web/src/components/Layout.tsx
  apps/web/src/hooks/useWebSocket.ts
  apps/web/src/main.tsx
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/RegisterPage.tsx
  apps/web/src/stores/websocket.store.ts
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
Due: oxlint --fix, oxfmt --write

workflow: update the bun.lock
  bun.lock
Due: none

ci: fix unit test environment variable passing
  .github/workflows/ci.yml
Due: oxfmt --write

ci: add database seed step before running unit tests
  .github/workflows/ci.yml
Due: oxfmt --write

docs: finish the initial exection plan
  EXECUTION_PLAN.md
Due: oxfmt --write

feat(api): register missing route modules (achievement, matchmaking, telemetry, admin)
  apps/server/src/modules/achievement/presentation/http/bun-achievement.handlers.ts
  apps/server/src/modules/achievement/presentation/http/index.ts
  apps/server/src/modules/admin/presentation/http/bun-admin.handlers.ts
  apps/server/src/modules/admin/presentation/http/index.ts
  apps/server/src/modules/matchmaking/presentation/http/bun-matchmaking.handlers.ts
  apps/server/src/modules/matchmaking/presentation/http/index.ts
  apps/server/src/modules/telemetry/presentation/http/bun-telemetry.handlers.ts
  apps/server/src/modules/telemetry/presentation/http/index.ts
Due: oxlint --fix, oxfmt --write

perf(api): add caching layers and optimize leaderboard queries
  apps/server/src/modules/leaderboard/infrastructure/repositories/leaderboard.repository.impl.ts
  apps/server/src/modules/static-data/infrastructure/repositories/static-data.repository.impl.ts
  apps/server/src/services/redis.service.ts
Due: oxlint --fix, oxfmt --write

chore(config): add game config and redis connection pool settings
  .env.example
  packages/shared/src/config/game.config.ts
  packages/shared/src/config/index.ts
  packages/shared/src/config/redis.config.ts
Due: oxlint --fix, oxfmt --write

refactor(api): externalize hardcoded config values to game config
  apps/server/src/modules/matchmaking/infrastructure/repositories/matchmaking.repository.impl.ts
  apps/server/src/modules/room/infrastructure/repositories/room.repository.impl.ts
Due: oxlint --fix, oxfmt --write

dx(repo): enable stricter tsconfig and add lint-staged config
  package.json
  packages/tsconfig/base.json
Due: oxfmt --write

docs(plan): add comprehensive revision plan for code quality and performance
  REVISE_PLAN.md
Due: oxfmt --write

feat(server): wire up new route modules in main application layer
  apps/server/src/index.ts
Due: oxlint --fix, oxfmt --write

fix(server): update composition layer effect
  .agents/skills/effect/SKILL.md
  apps/server/src/index.ts
Due: oxlint --fix, oxfmt --write

types(server): enable exactOptionalPropertyTypes
  apps/server/src/modules/inventory/application/services/inventory.service.ts
  apps/server/src/modules/inventory/domain/entities/inventory.entity.ts
  apps/server/src/modules/leaderboard/application/services/leaderboard.service.ts
  apps/server/src/modules/leaderboard/domain/repositories/leaderboard.repository.ts
  apps/server/src/modules/leaderboard/infrastructure/repositories/leaderboard.repository.impl.ts
  apps/server/src/modules/loadout/domain/entities/loadout.entity.ts
  apps/server/src/modules/matchmaking/domain/entities/matchmaking.entity.ts
  apps/server/src/modules/player/domain/entities/player.entity.ts
  apps/server/src/modules/room/domain/entities/room.entity.ts
  apps/server/src/modules/telemetry/domain/entities/telemetry.entity.ts
  apps/server/src/realtime/protocol/message-envelope.ts
  packages/tsconfig/base.json
Due: oxlint --fix, oxfmt --write

perf(server): parallelize match detail queries
  apps/server/src/modules/match/infrastructure/repositories/match.repository.impl.ts
Due: oxlint --fix, oxfmt --write

refactor(server): extract maxPlayers to game config
  .env.example
  apps/server/src/modules/room/infrastructure/repositories/room.repository.impl.ts
  packages/shared/src/config/game.config.ts
Due: oxlint --fix, oxfmt --write

docs(plan): update revision plan with actual status
  REVISE_PLAN.md
Due: oxfmt --write

docs: update revise plan
  REVISE_PLAN.md
Due: oxfmt --write

fix(server): update http request
  REVISE_PLAN.md
  apps/server/src/http/request.ts
  apps/server/src/modules/auth/application/services/auth-throttle.service.ts
  bun.lock
Due: oxlint --fix, oxfmt --write

style: apply formatting fixes
  .agents/skills/effect/SKILL.md
  REVISE_PLAN.md
  apps/server/src/index.ts
  apps/server/src/modules/achievement/presentation/http/bun-achievement.handlers.ts
  apps/server/src/modules/admin/presentation/http/bun-admin.handlers.ts
  apps/server/src/modules/auth/application/services/auth-throttle.service.ts
  apps/server/src/modules/leaderboard/infrastructure/repositories/leaderboard.repository.impl.ts
  apps/server/src/modules/matchmaking/infrastructure/repositories/matchmaking.repository.impl.ts
  apps/server/src/modules/static-data/infrastructure/repositories/static-data.repository.impl.ts
  package.json
  packages/shared/src/config/game.config.ts
  packages/shared/src/config/redis.config.ts
Due: oxlint --fix, oxfmt --write

test: add RedisService to test layers
  apps/server/tests/unit/auth.service.test.ts
  apps/server/tests/unit/friends.service.test.ts
  apps/server/tests/unit/inventory-loadout.service.test.ts
  apps/server/tests/unit/match-leaderboard.service.test.ts
  apps/server/tests/unit/phase2-core.service.test.ts
  apps/server/tests/unit/player.service.test.ts
Due: oxlint --fix, oxfmt --write

test: fix auth service test layer composition
  apps/server/tests/unit/auth.service.test.ts
Due: oxlint --fix, oxfmt --write

test: fix layer composition in all unit tests
  apps/server/tests/unit/friends.service.test.ts
  apps/server/tests/unit/inventory-loadout.service.test.ts
  apps/server/tests/unit/match-leaderboard.service.test.ts
  apps/server/tests/unit/phase2-core.service.test.ts
  apps/server/tests/unit/player.service.test.ts
Due: oxlint --fix, oxfmt --write

ci: fix typecheck script and moon tasks configuration
  .moon/tasks/all.yml
  apps/web/moon.yml
  package.json
Due: oxfmt --write

test: add missing RedisService layer to static-data test
  apps/server/tests/unit/static-data.service.test.ts
Due: oxlint --fix, oxfmt --write

ci: install moon CLI in GitHub Actions workflow
  .github/workflows/ci.yml
  package.json
Due: oxfmt --write

ci: use moonrepo/setup-toolchain action instead of bun install
  .github/workflows/ci.yml
  package.json
Due: oxfmt --write

fix(workflow): update workspace yml
  .moon/workspace.yml
Due: oxfmt --write

fix(workflow): update workspace yml
  .github/workflows/pr.yml
  .moon/tasks/all.yml
Due: oxfmt --write
