Repository harrytran998/crossfire: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, oxfmt --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "oxlint --fix",
    "oxfmt --write"
  ],
  "*.{json,md,yml,yaml}": [
    "oxfmt --write"
  ]
}

ci: fetch full git history for moon affected projects check
  .github/workflows/ci.yml
  apps/server/moon.yml
Due: oxfmt --write

fix(workflow): update moon config
  apps/server/moon.yml
  apps/web/moon.yml
  packages/database/moon.yml
  packages/shared/moon.yml
Due: oxfmt --write

fix(workflow): update moon config
  .agents/skills/moonrepo/SKILL.md
  .claude/skills/moonrepo/SKILL.md
  packages/database/moon.yml
  packages/shared/moon.yml
Due: oxfmt --write

fix(workflow): update moon config
  .moon/tasks/all.yml
  .moon/workspace.yml
Due: oxfmt --write

chore: migrate to moon v2.0.1
  .moon/toolchains.yml
  .moon/workspace.yml
Due: oxfmt --write

chore: update moon to v2.0.1 in .prototools
  .prototools
Due: none

chore: add build:libs script to build only library projects
  package.json
Due: oxfmt --write

fix: use --query flag instead of --layer for moon v2
  package.json
  tsconfig.json
Due: oxfmt --write

ci: add build:libs step after install dependencies in all workflows
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: oxfmt --write

fix: add composite and noEmit settings for TypeScript project references
  apps/server/tsconfig.json
  apps/web/tsconfig.json
  packages/database/tsconfig.json
  packages/database/tsconfig.tsbuildinfo
  packages/shared/tsconfig.json
  packages/shared/tsconfig.tsbuildinfo
  tsconfig.json
Due: oxfmt --write

fix(workflow): update moon config
  apps/server/tsconfig.json
  apps/web/tsconfig.json
  tsconfig.json
Due: oxfmt --write

ci: add moonrepo/setup-toolchain to all jobs that use build:libs
  .github/workflows/ci.yml
Due: oxfmt --write

fix: disable allowImportingTsExtensions for composite projects
  packages/database/tsconfig.json
  packages/shared/tsconfig.json
Due: oxfmt --write

fix(workflow): update moon config
  .gitignore
  packages/database/tsconfig.tsbuildinfo
  packages/shared/tsconfig.tsbuildinfo
Due: none

ci: add fetch-depth: 0 to all jobs that run build:libs
  .github/workflows/ci.yml
Due: oxfmt --write

chore: add Phase 3 TODO and start WebSocket gateway implementation
  REVISE_PLAN.md
  TODO.md
  apps/server/src/realtime/gateway/connection.manager.ts
  bun.lock
  package.json
Due: oxlint --fix, oxfmt --write

feat: complete WebSocket gateway implementation (T28)
  apps/server/src/realtime/gateway/heartbeat.manager.ts
  apps/server/src/realtime/gateway/session.store.ts
  apps/server/src/realtime/gateway/websocket.gateway.ts
  apps/server/src/realtime/protocol/encoder.ts
  apps/server/src/realtime/protocol/message.types.ts
Due: oxlint --fix, oxfmt --write

feat: complete message protocol with validation and version negotiation (T29)
  TODO.md
  apps/server/package.json
  apps/server/src/realtime/protocol/index.ts
  apps/server/src/realtime/protocol/validator.ts
  apps/server/src/realtime/protocol/version.ts
  bun.lock
Due: oxlint --fix, oxfmt --write

feat: implement room service with Redis backend (T30)
  apps/server/src/realtime/application/room.service.ts
  apps/server/src/realtime/domain/room.repository.ts
  apps/server/src/realtime/domain/room.ts
  apps/server/src/realtime/infrastructure/redis-room.repository.ts
Due: oxlint --fix, oxfmt --write

feat: implement room WebSocket handlers with broadcast support (T31)
  apps/server/src/realtime/handlers/room.handlers.ts
Due: oxlint --fix, oxfmt --write

feat(matchmaking): add domain model and repository interface
  apps/server/src/realtime/domain/matchmaking.repository.ts
  apps/server/src/realtime/domain/matchmaking.ts
Due: oxlint --fix, oxfmt --write

feat(matchmaking): implement Redis repository
  apps/server/src/realtime/infrastructure/redis-matchmaking.repository.ts
Due: oxlint --fix, oxfmt --write

feat(matchmaking): add service with skill-based algorithm
  apps/server/src/realtime/application/matchmaking.service.ts
Due: oxlint --fix, oxfmt --write

feat(matchmaking): add queue health endpoint and complete REST API (T33)
  apps/server/src/modules/matchmaking/application/services/matchmaking.service.ts
  apps/server/src/modules/matchmaking/domain/repositories/matchmaking.repository.ts
  apps/server/src/modules/matchmaking/infrastructure/repositories/matchmaking.repository.impl.ts
  apps/server/src/modules/matchmaking/presentation/http/bun-matchmaking.handlers.ts
Due: oxlint --fix, oxfmt --write

fix: remove duplicate realtime implementations and fix type errors
  TODO.md
  apps/server/src/modules/matchmaking/application/services/matchmaking.service.ts
  apps/server/src/modules/matchmaking/infrastructure/repositories/matchmaking.repository.impl.ts
  apps/server/src/realtime/application/matchmaking.service.ts
  apps/server/src/realtime/application/room.service.ts
  apps/server/src/realtime/domain/matchmaking.repository.ts
  apps/server/src/realtime/domain/matchmaking.ts
  apps/server/src/realtime/domain/room.repository.ts
  apps/server/src/realtime/domain/room.ts
  apps/server/src/realtime/gateway/connection.manager.ts
  apps/server/src/realtime/gateway/heartbeat.manager.ts
  apps/server/src/realtime/gateway/session.store.ts
  apps/server/src/realtime/gateway/websocket.gateway.ts
  apps/server/src/realtime/handlers/room.handlers.ts
  apps/server/src/realtime/infrastructure/redis-matchmaking.repository.ts
  apps/server/src/realtime/infrastructure/redis-room.repository.ts
  apps/server/src/realtime/protocol/encoder.ts
  apps/server/src/realtime/protocol/index.ts
  apps/server/src/realtime/protocol/message.types.ts
  apps/server/src/realtime/protocol/validator.ts
  apps/server/src/realtime/protocol/version.ts
  package.json
Due: oxlint --fix, oxfmt --write
